services:
  db:
    image: postgres:16
    container_name: lead_revival_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: lead_revival
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: